body {
    font-family:Arial, Helvetica, sans-serif 18px;
}

header, footer {
    background-color:blueviolet;
}
.site-title { 
    color:azure;
}

img#my-image {
    width: 300px;
    box-shadow: 0 0 2px 1px black; 
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    /* not working background-color:limegreen;*/
}
a:active {
    text-decoration: none;
}

li .beige {
    border-width: 2px;
    border-style: groove;
    border-color: beige;
    background-color: beige;
}
nav ul {
    list-style-type: none;
}

.hobbies {
    list-style-type:square;
}

/* this is not working ul:nth-child(odd) {
    background-color:beige; */
    


    
    


